export(apply2SampleTTest)
export(applyIqrFromLpe)
export(applyLimma)
export(applyLog2)
export(applyLpeMethod)
export(applyMultipleTestingCorrection)
export(applyNormalization)
export(applyPairedLimma)
export(applyPairedSam)
export(applySam)
export(applySummarization)
export(applySummaryStatistic)
export(applyTTests)
export(applyVSN05)
export(applyVSN09)
export(generateKnitrReport)
export(lpeAdjustBH)
export(rAdjustBH)
export(reportQualityCheckRawData)
import(Biobase)
importFrom(latticeExtra,dendrogramGrob)
importFrom(lattice,levelplot)
importFrom(limma,eBayes)
importFrom(limma,lmFit)
importFrom(limma,topTable)
importFrom(markdown,markdownToHTML)
import(ggplot2)
import(knitr)
import(LPE)
import(plyr)
import(samr)
import(vsn)
