import(Biobase)
importFrom(latticeExtra,dendrogramGrob)
importFrom(lattice,levelplot)
importFrom(markdown,markdownToHTML)
import(ggplot2)
import(knitr)
import(limma)
import(LPE)
import(plyr)
import(samr)
import(vsn)
